@charset "UTF-8";
/**
 *
 * @authors Marte (iqianduan@126.com)
 * @date    2020-08-10 11:40:42
 * @version $Id$
 */

@media screen and (max-width: 991px){
    .header_middle_menua{
        display: none !important;
    }

}



@media screen and (min-width: 1200px){
    .wrapper_auto{
        max-width:1140px;
    }
}
@media screen and (max-width: 992px){
    .wrapper_auto{
        max-width:960px;
    }
}
@media screen and (max-width: 768px){
    .wrapper_auto{
        max-width:720px;
    }
}
@media screen and (max-width: 576px){
    .wrapper_auto{
        max-width:540px;
    }
}